.cards {
    text-align: center;
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
    row-gap: 2vw;
    margin-top: 0%;
}

.title {
    text-align: center;
    padding: 3vw;
}