.controlBar {
    position: absolute;
    top: 80px;
    right: 10px;
}

.global {
    position: relative;
    top: 0px;
}

.buttonBar {
    position: relative;
    top: 8px;
}

.feature {
    color: #f50057;
    position: relative;
    top: 10px;
}