.white {
    border: 2px solid white;
    background-color: white;
    color: black;
    height: 200px;
    width: 50px;
}

.black {
    border: 2px solid black;
    background-image: linear-gradient(to top right, rgb(50, 50, 50), black);
    color: white;
    height: 100px;
    width: 50px;
    box-shadow: 2px 2px 5px gray;
}

.black:active {
    background-image: linear-gradient(to bottom left, rgb(50, 50, 50), black);
}

.keys {
    display: flex;
    direction: column;
    justify-content: center;
    border: 2px solid black;
    box-shadow: 5px 5px 5px gray;
}